//====================
//=BLUR AND ANIMATION=
//====================     

// Animation settings.
// The wiki explains how to configure individual animations:
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

//Blur
blur {
    passes 1      // Number of blur passes. More passes = smoother, stronger blur.
    offset 2    // Blur radius/distance per pass. 
    noise 0.02    // Adds a subtle grain overlay to prevent color banding.
    saturation 1 // Vibrancy/color boost for the blurred background.
}

//window rule for blur behind windows
window-rule {
    // Falls du es für alle Fenster willst, lass das "match" weg.
    // Oder nutze z.B.: match app-id="^Alacritty$"
    
    background-effect {
        blur true
        // WICHTIG: Schaltet Xray ab. Jetzt sieht das Fenster "echt" nach unten 
        // durch und blurt sowohl swaybg ALS AUCH deine Quickshell-Widgets!
        xray false  
    }
}
