// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction


//====================
//==ENVIRONMENT VARS==
//====================

environment {
    NIRI_USER_TERMINAL "kitty"
    NIRI_USER_TASKMANAGER "kitty -e btop"
    NIRI_USER_FILEMANAGER "kitty -e yazi"
    NIRI_USER_MENU "fuzzel"
    NIRI_USER_BROWSER "firefox"
    NIRI_USER_MUSICPLAYER "tauonmb"
    NIRI_USER_MUSICSTREAMER "kitty -e rs-pug"
}


//====================
//=====AUTOSTART======
//====================

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
// spawn-at-startup "quickshell"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

spawn-at-startup "dunst"
spawn-at-startup "quickshell"
//use if you don't implement the Wallpaper.qml module in quickshell
//spawn-at-startup "swaybg" "-i" "$HOME/Pictures/.wallpaper/wallpaper" "-m" "fill"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=niri"



//Inclusions
include "input.kdl"
include "output.kdl"
include "../../working/niri/layout.kdl"
include "window_rule.kdl"
include "keybinds.kdl"
include "misc.kdl"